/* .dimmed.dimmable > .ui.modals.dimmer.visible {
    display: flex !important;
  }

  .ui.modal {
    margin-top: 0 !important;
    }

    .visible.transition {
        visibility: visible !important;
    } */
modal {
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
  
}

