.navcontainer {
    background-color: transparent;
}


/* .landpage-image{
 background-image: "../Image/uhired.jpg";
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 60%;
} */

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}



