.bg {
    background: url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
    width: 100%;
    position: relative;
    top:0;
    left:0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.9; 

  }
  .titleText {
   padding-top: 15%;
    color: skyBlue;
    text-Shadow: 3px 3px black; 
    font-Family: Courier;
    font-Size: 60px;
  }
  
  .logoText {
    padding-top: 15%;
    color: skyBlue;
    text-Shadow: 3px 3px black; 
    font-Family: Cursive;
    font-Size: 70px;
    padding-left:15px;
    font-weight: bold;
  }
  .blurb {
    margin-bottom: 45px;
    color: white;
    text-Shadow: 3px 3px black; 
    font-Family: Arial;
    font-Size: 35px;

  }



 